<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/_static/main.css" type="text/css">
    <link href="/_static/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/_static/fontawesome/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - {{ sitename }}</title>
    {% set theme = request.cookies.get('theme') %}
    <link rel="stylesheet" href="/_static/{{ 'light.css' if theme == None else theme+'.css' }}" type="text/css"/>
</head>
<body>
<div id="body">
    {% include "header.html" %}
    <div id="inner">
        {% block body %}
        {% endblock %}
    </div>
</div>
<div class="flex justify-end m-2">
    <form action="/set-theme" method="post">
        <select name="theme" class="p-2 rounded bg-gray-100 w-56 border border-gray-400">
            {% for t in themes %}
            <option value="{{ t }}">{{ t }}</option>
            {% endfor %}
        </select>
        <input type="submit" class="p-2 rounded border border-gray-400" value="Set theme" />
    </form>
</div>
<div class="text-center m-5 space-x-4">
    <a href="https://www.redditinc.com/policies/content-policy">Rules</a>
    <a href="https://github.com/qwertygvcx/site">GitHub</a>
    <a href="https://trollface.dk">Admin Tools</a>
</div>
</body>
<script src="/_static/js/all_js.js"></script>
{% block script %}{% endblock %}
<noscript>
    <!-- css overrides for disabled js -->
    <style type="text/css">
        #submit-post-form {
            display: block;
        }
    </style>
</noscript>
</html>
