body {
    background-color: #FFF!important;
    color:#000!important;
}

a:unvisited {
    color:#0000FF;
}

a:visited {
    color:#805AD5
}

a:hover {
    color:#FF5349
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FFF;
  color: #000;
  text-align: center;
}
