<title>/{{ board.name }}/</title>
{% set theme = request.cookies.get('theme') %}
<link rel="stylesheet" href="/static/{{ 'light.css' if theme == None else theme+'.css' }}" type="text/css"/>
{% include "header.html" %}
Welcome to /{{ board.name }}/: {{ board.description }}!
<body>
    How about creating a post?
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="/submit" method="post">
    		<input type="hidden" name="board" value="{{ board.id }}" />
            <label for="title">Your Title:</label>
            <input required="" id="title" name="title" /><br>
            <label for="body">Your Body:</label>
            <textarea id="body" required="" name="body"></textarea><br>
            <input type="submit" value="Create Post" />
    </form>
    <p>Board created by /u/{{ board.creator.username }}</p>
    {% if u and u.is_admin %}
    {% if board.is_banned %}
    <form action="/admin/unban/board/{{ board.id }}" method="post">
        <strong style="background-color: #fa8072;">[board banned{% if board.ban_reason %}: {{ board.ban_reason }}{% endif %}]</strong>
        <input type="hidden" name="formkey" value="{{ u.formkey }}" />
        <input type="submit" value="Unban /{{ board.name }}/">
    </form>
    {% else %}
    <form action="/admin/ban/board/{{ board.id }}" method="post">
        <input type="hidden" name="formkey" value="{{ u.formkey }}" />
        <input type="text" name="reason" placeholder="reason" />
        <input type="submit" value="Ban /{{ board.name }}/">
    </form>
    {% endif %}
    {% endif %}
    <h3>Posts in /{{ board.name }}/</h3>
    {% for p in board.post_list(u) %}
    <div {% if p.is_removed %} style="background-color: #fa8072;" {% endif %}>
    	<h6>{{ p.author.username or 'Anonymous' }} - Post #{{ p.id }}</h6>
    	<p><a href="{{ p.permalink }}"><strong>{{ p.title }}</strong></a></p>
    	<p>{{ p.body_html|markdown }}</p>
    </div>
    <hr />
    {% endfor %}
    {% include "footer.html" %}
</body>
