{% extends "layouts/index.html" %}
{% block title %}/{{ board.name }}/: {{ board.title }}{% endblock %}
{% block body %}
{% set favs = 'favorites'|session([]) %}
<div id="board-header">
    <h1>/{{ board.name }}/ - {{ board.title }} <i id="toggle-fav" class="fas fa-star fa-fw" onclick="toggleFavorite('{{ board.name }}')"></i></h1>
    <p>{{ board.description }}</p>
    <p class="text-muted"><a href="#">Mod log</a> · <a href="#">Mods</a></p>
</div>
<div class="my-2">
    <div id="submit-wrapper" >
        <div>
            <h2 id="post-toggle-parent">[<a id="post-toggle" href="javascript:togglePostForm()">Start a new thread</a>]</h2>
            <form id="submit-post-form" class="hidden" action="/{{ board.name }}/" method="post">
                <table>
                    <tbody>
                        <tr>
                            <td>Options</td>
                            <td>
                                <input type="text" name="options" />
                            </td>
                        </tr>
                        <tr>
                            <td>Subject</td>
                            <td>
                                <input type="text" name="title" />
                                <input type="submit" value="Post">
                            </td>
                        </tr>
                        <tr>
                            <td>Comment</td>
                            <td>
                                <textarea required="" name="body"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <hr />
    <div id="board-links">
        [<a href="/">Home</a>]
    </div>
    <hr />
</div>
<div id="board-view-wrapper">
    <div id="board-view">
        {% if u and u.is_admin %}
        <fieldset class="fieldset-side">
            <legend>Admin panel</legend>
            <p><strong>Created by: </strong>/u/{{ board.creator.username }}</p>
            <p><strong>Creation IP: </strong>{{ board.creation_ip }}</p>
            {% if board.is_banned %}
            <p class="text-danger">Board banned</p>
            <p><strong>Ban reason: </strong>{% if board.ban_reason %}{{ board.ban_reason }}{% else %}<span class="text-danger">no reason provided</span>{% endif %}</p>
            <form action="/*/admin/unban/board/{{ board.id }}" method="post">
                <input type="hidden" name="formkey" value="{{ u.formkey }}" />
                <input type="submit" value="Unban /{{ board.name }}/" class="btn-success" />
            </form>
            <form action="/*/admin/purge_board" method="post" style="margin-top: 0.5rem;">
                <input type="hidden" name="formkey" value="{{ u.formkey }}" />
                <input type="hidden" name="board" value="{{ board.name }}" />
                <input type="submit" value="Purge posts" class="btn-danger" />
            </form>
            {% else %}
            <p>Ban board</p>
            <form action="/*/admin/ban/board/{{ board.id }}" method="post">
                <input type="hidden" name="formkey" value="{{ u.formkey }}" />
                <textarea placeholder="reason" name="reason"></textarea>
                <input type="submit" value="Ban /{{ board.name }}/" class="btn-danger" />
            </form>
            {% endif %}
        </fieldset>
        {% endif %}
        {% set posts = board.post_list() %}
        {% include "post_listing.html" %}
    </div>
</div>
<hr />
[<a href="#">Back to top</a>]
<hr />
{% endblock %}
