<!DOCTYPE html>
<html>
<head>
    <title>Create board</title>
    {% set theme = request.cookies.get('theme') %}
    <link rel="stylesheet" href="/static/{{ 'light.css' if theme == None else theme+'.css' }}" type="text/css"/>
</head>
<body>
    {% include "header.html" %}
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="/create_board" method="post">
        <input type="hidden" name="formkey" value="{{ u.formkey }}" />
        <label for="name">Board name:</label><br />
        <input id="name" name="name" required maxlength="5" placeholder="board name (eg: sex)" /><br />
        <label for="desc">Board description:</label><br />
        <textarea id="desc" name="desc" placeholder="board description"></textarea><br />
        <br />
        <input type="submit" value="Create" />
    </form>
    {% include "footer.html" %}
</body>
</html>
