{% extends "layouts/index.html" %}
{% block title %}Create board{% endblock %}
{% block body %}
<div class="settingsWrapper">
    <h1>Create board</h1>
    <fieldset class="settingsFieldset">
        <legend>Create board</legend>
        {% if error %}
        <p class="text-danger">{{ error }}</p>
        {% endif %}
        <form action="/*/create_board" method="post">

            <input type="hidden" name="formkey" value="{{ u.formkey }}" />

            <label for="name"><strong>Board name:</strong></label>
            <input type="text" name="name" placeholder="Board name" required="" maxlength="5" /><br />
            <span class="text-muted">Your board will be accessible at /name/. Limit of 5 characters.</span><br />
            <br />

            <label for="title"><strong>Board title:</strong></label>
            <input type="text" name="title" placeholder="Board title" required="" maxlength="25" /><br />
            <span class="text-muted">Briefly tell your users what your board is about. Limit of 25 characters.</span><br />
            <br />

            <label for="description"><strong>Description:</strong></label>
            <textarea name="description" class="w-full" required="" maxlength="255"></textarea><br />
            <span class="text-muted">Longer description to show on previews and board listings. Limit of 255 characters.</span><br />
            <br />

            <input type="submit" value="Create board" />

        </form>
    </fieldset>
</div>
{% endblock %}
