<!DOCTYPE html>
<html>
<head>
    <title>Create board</title>
</head>
<body>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="/create_board" method="post">
        <label for="name">Board name:</label><br />
        <input id="name" name="name" required maxlength="4" placeholder="board name (eg: sex)" /><br />
        <label for="desc">Board description:</label><br />
        <textarea id="desc" name="desc" placeholder="board description"></textarea><br />
        <br />
        <input type="submit" value="Create" />
    </form>
</body>
</html>
