{% set topboards = 'favorites'|session(defaultboards) %}
<div id="nav-wrapper">
    <nav id="site-header">
        <div>
            <a onclick="openNav()" id="toggle-mobile-nav" class="only-mobile">
                <i class="fas fa-bars"></i>
            </a>
            <a href="/" id="site-name" style="color: #{{ sitecolor  }}">{{ sitename }}</a>
        </div>
        <div id="favorites-listing" class="hide-mobile">
            <span class="text-muted"><span id="header-boardlist">[{% for b in (topboards if topboards else defaultboards) %}  <a href="{{ b }}">{{b}}</a>  {% endfor %}]</span>{% if u %}  [<a href="/*/create_board">create</a>]{% endif %}</span>
        </div>
        <div id="header-controls" class="hide-mobile text-muted">
            {% if u %}
            <span>{{ u.username }}{% if u.is_admin %} [<a href="/*/admin/" id="ego-boost">A</a>]{% endif %} [<a href="#">prefs</a>] [<a href="#">inbox</a>] [<form class="inline logout" action="/*/logout" method="post"><input type="submit" value="logout" /></form>]</span>
            {% else %}
            <span>[<a href="/*/login">login</a>] [<a href="/*/signup">register</a>]</span>
            {% endif %}
        </div>
    </nav>
</div>

<div id="mobile-sidenav">
    <a href="javascript:void(0)" onclick="closeNav()" id="nav-close" class="text-muted">
        <i class="fas fa-times"></i>
    </a>
    <ul class="text-muted">
        {% if u %}
        <li>
            <a href="#">/u/{{ u.username }}</a>
        </li>
        {% if u.is_admin %}
        <li>
            <a href="/*/admin/">Admin Tools</a>
        </li>
        {% endif %}
        <li>
            <a href="#">Account Settings</a>
        </li>
        <li>
            <a href="#">Inbox</a>
        </li>
        <li>
            <form class="inline logout" action="/*/logout" method="post"><input type="submit" value="Log out" /></form>
        </li>
        {% else %}
        <li>
            <a href="/*/login">Log in</a>
        </li>
        <li>
            <a href="/*/signup">Register</a>
        </li>
        {% endif %}
    </ul>
    <ul id="mobile-boardlist" class="text-muted">
        {% for b in (topboards if topboards else defaultboards) %}
        <li>
            <a href="{{ b }}">{{ b }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
