<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
	<form action="/login" method="post">
		<input type="hidden" name="redirect" value="{{ redirect }}" />
		<label for="username">Username:</label><br />
		<input type="text" name="username" required="" maxlength="25" /><br />
		<label for="password">Password:</label><br />
		<input type="password" name="password" required="" maxlength="750" /><br />
		<input type="submit" value="Login" />
	</form>
	{% include "footer.html" %}
</body>
</html>
