<div class="post-listing w-full">
    {% if posts %}
    {% for p in posts %}
    <div class="thread">
        <div class="op-wrapper">
            {% if p.files %}
            {% set file = p.files[0] %}
            <span class="file-info">File: <a href="{{ file.url }}">{{ file.name }}</a>{% if u and u.is_admin %}<br /><strong>File hash:</strong> {{ file.hash }}{% endif %}<br/></span>
            {% include "file.html" %}
            {% endif %}
            <div id="p{{ p.id }}" class="post post-op">
                <span class="post-info text-muted"><strong>{% if p.title %}{{ p.title }}{% endif %} {% if p.author %}<span class="author author-user">{{ p.author.username }}</span>{% else %}<span class="author author-anon">Anonymous</span>{% endif %}</strong> <span class="post-age" title="{{ p.age }}">{{ p.created_date }}</span> No.{{ p.id }}</span>
                <div class="usercontent">{{ p.body_html|markdown|truncate }}</div>
                <p class="comment-count">{{ p.comment_count }} replies [<a class="post-link" href="./thread/{{ p.id }}">View full thread</a>]</p>
            </div>
        </div>
    </div>
    <div style="clear: left;"></div>
    <hr />
    {% endfor %}
    {% else %}
    <p class="text-danger">There's nothing here... yet.</p>
    {% endif %}
</div>
