{% extends "layouts/index.html" %}
{% block title %}{% if post.title %}{{ post.title }}{% else %}Thread #{{ post.id }}{% endif %} - /{{ post.board.name }}/: {{ post.board.title }}{% endblock %}
{% block body %}
<div id="board-header">
    <h1>/{{ post.board.name }}/ - {{ post.board.title }} <i id="toggle-fav" class="fas fa-star fa-fw" onclick="toggleFavorite('{{ post.board.name }}')"></i></h1>
    <p>{{ post.board.description }}</p>
    <p class="text-center text-muted"><a href="#">Mod log</a> · <a href="#">Mods</a></p>
</div>
<div>
    <div id="submit-wrapper">
        <div>
            <h2 id="post-toggle-parent">[<a id="post-toggle" href="javascript:togglePostForm()">Post a reply</a>]</h2>
            <form id="submit-post-form" class="hidden" action="/{{ post.board.name }}/thread/{{ post.id }}" method="post" enctype="multipart/form-data">
                <table>
                    <tbody>
                        <tr>
                            <td>Options</td>
                            <td>
                                <input type="text" name="options" />
                                <input type="submit" value="Post">
                            </td>
                        </tr>
                        <tr>
                            <td>Comment</td>
                            <td>
                                <textarea id="re-body" required="" name="body"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>File</td>
                            <td>
                                <input type="file" name="file" accept="image/*, audio/*, video/*" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span class="text-muted">Image, audio and video files supported, max size <strong>{{ 'MAX_FILE_SIZE'|app_config }} MB</strong></span>
            </form>
        </div>
    </div>
    <hr />
    <div id="post-links">
        [<a href="{{ post.board.url }}">Return</a>]
    </div>
    <hr />
</div>
<div id="post-view-wrapper">
    <div id="post-view">
        {% if u and u.is_admin %}
        <fieldset class="fieldset-side">
            <legend>Admin panel</legend>
            <p><strong>Creation IP: </strong>{{ post.creation_ip }}</p>
            <p><strong>Last bump: </strong>{{ post.last_bumped_date }}</p>
            <hr />
            <form action="/*/admin/purge_comments_cache/{{ post.id }}" method="post">
                <input type="hidden" name="formkey" value="{{ u.formkey }}" />
                <input type="submit" value="Refresh replies" class="btn-warning" />
            </form>
            <hr />
            <p><strong>Move thread</strong></p>
            <form action="/*/admin/move" method="post">
                <input type="hidden" name="post" value="{{ post.id }}" />
                <input type="hidden" name="formkey" value="{{ u.formkey }}" />
                <input type="text" name="dest" required="" placeholder="where to?" />
                <input type="submit" value="Move" class="btn-warning" />
            </form>
            <hr />
            <p><strong>Delete thread</strong></p>
            <form action="/*/admin/remove/{{ post.id }}" method="post">
                <input type="hidden" name="formkey" value="{{ u.formkey }}" />
                <input type="text" name="reason" placeholder="reason for deletion?" />
                <input type="submit" value="Delete" class="btn-danger" >
            </form>
        </fieldset>
        {% endif %}
        <div id="p{{ post.id }}" class="post post-op p-4">
            {% if post.files %}
            {% set file = post.files[0] %}
            <span class="file-info">File: <a href="{{ file.url }}">{{ file.name }}</a>{% if u and u.is_admin %}<br /><strong>File hash:</strong> {{ file.hash }}{% endif %}<br/></span>
            {% include "file.html" %}
            {% endif %}
            <span class="text-muted"><strong>{% if post.title %}{{ post.title }}{% endif %} {% if post.author %}<span class="author author-user">{{ post.author.username }}</span>{% else %}<span class="author author-anon">Anonymous</span>{% endif %}</strong> <span title="{{ post.age }}">{{ post.created_date }}</span> <a href="#p{{ post.id }}" title="Link to this post">No.</a><a href="javascript:quote('{{ post.id }}')" title="Reply">{{ post.id }}</a> <span class="reply-ids">{% for re in post.mentions %} <a href="#p{{ re }}">>>{{ re }}</a>{% endfor %}</span></span>
            <div class="usercontent">{{ post.body_html|markdown }}</div>
        </div>
        {% set comments = post.comment_list() %}
        {% include "comment_listing.html" %}
    </div>
</div>
<hr />
[<a href="#">Back to top</a>]
<hr />
{% endblock %}
