<!DOCTYPE html>
<html>
<head>
	<title>{{ post.title }} - /{{ post.board.name }}/</title>
	{% set theme = request.cookies.get('theme') %}
        <link rel="stylesheet" href="/static/{{ 'light.css' if theme == None else theme+'.css' }}" type="text/css"/>
</head>
<body>
	<p>
		<a href="{{ post.board.url }}">&#11013 Back to /{{ post.board.name }}/</a>
	</p>
	<div {% if post.is_removed %} style="background-color: #fa8072;" {% endif %}>
		<h4>{{ post.author.username or 'Anonymous' }} - Post #{{ post.id }}</h4>
		<h1>{{ post.title }}</h1>
		<h3>{{ post.body }}</h3>
	{% if u and u.is_admin %}
	{% if post.is_removed %}
	<form action="/admin/approve/post/{{ post.id }}" method="post">
		<strong>[removed{% if post.removal_reason %}: {{ post.removal_reason }}{% endif %}]</strong>
		<input type="submit" value="Approve" />
	</form>
	{% else %}
	<form action="/admin/remove/post/{{ post.id }}" method="post">
		<input type="text" name="reason" placeholder="reason" />
		<input type="submit" value="Remove thread" />
	</form>
	{% endif %}
	{% endif %}
	</div>
	<div>
		<h2>Reply to this post</h2>
		<form action="/submit/comment" method="post">
			<input type="hidden" name="parent" value="{{ post.id }}" />
			<textarea id="comment-body-input" name="body" rows="5" cols="50" placeholder="Enter your comment..."></textarea><br />
			<input type="submit" value="Comment" />
		</form>
	</div>
	<h2>{{ post.comment_count(u) }} {{ 'Comment' if post.comment_count(u) == 1 else 'Comments' }}</h2>
	{% for c in post.comment_list(u) %}
	<div id="c{{ c.id }}" {% if c.is_removed %} style="background-color: #fa8072;" {% endif %}>
		<h6>Comment #{{ c.id }}</h6>
		<p>{{ c.body }}</p>
		{% if u and u.is_admin %}
		{% if c.is_removed %}
		<form action="/admin/approve/comment/{{ c.id }}" method="post">
			<strong>[removed{% if c.removal_reason %}: {{ c.removal_reason }}{% endif %}]</strong>
			<input type="submit" value="Approve" />
		</form>
		{% else %}
		<form action="/admin/remove/comment/{{ c.id }}" method="post">
			<input type="text" name="reason" placeholder="reason" />
			<input type="submit" value="Remove comment" />
		</form>
		{% endif %}
		{% endif %}
		<hr />
	</div>
	{% endfor %}
	{% include "footer.html" %}
</body>
</html>
