{% extends "layouts/auth.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}
<div>
    <div>
        <h2>Sign up</h2>
    </div>
    {% if error %}
    <p class="text-danger">{{ error }}</p>
    {% endif %}
    <form action="/*/signup" method="post">
        <input type="hidden" name="redirect" value="{{ redirect }}" />
        <div>
            <div>
                <label for="name">username:</label>
                <input type="text" id="name" name="username" required="" placeholder="username" />
            </div>
            <div>
                <label for="password">password:</label>
                <input type="password" id="password" name="password" required="" placeholder="********" />
            </div>
            <div>
                <label for="password-confirm">confirm password:</label>
                <input type="password" id="password-confirm" name="password-confirm" required="" placeholder="********"  />
            </div>
        </div>
        <div>
            <input type="submit" value="Continue" />
            <a class="link-bottom" href="/*/login">Already have an account?</a>
        </div>
    </form>
</div>
{% endblock %}
