body {
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    background-color: #fafafa;
}

a:unvisited {
    color:#0000FF;
}

a:visited {
    color:#805AD5
}

a:hover {
    color:#FF5349
}

hr {
    border: none;
    border-top: 1px solid #a9a9a9;
}

h1, h2, h3, h4, h5, h6, p {
    color: #1f1f1f;
}

.text-muted {
    color: #808080;
}

.post .text-muted {
    color: #212121;
}

.bg-color-secondary {
    background-color: white;
}

.post-reply {
    background-color: #e0e0e0;
}

#submit-post-form table {
    border-collapse: separate;
    border-spacing: 2px;
}

#submit-post-form table tbody tr td:first-child {
    padding: 3px;
    background-color: #d1d1d1;
    border: 1px solid #a9a9a9;
}

#submit-post-form input[type="text"], #submit-post-form textarea {
    border: 1px solid #a9a9a9;
    padding: 3px;
}

#submit-post-form input[type="submit"] {
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #a9a9a9;
}
